openssl_conf = openssl_init

[openssl_init]
providers = provider_section

[provider_section]
pkcs11 = pkcs11_provider

[pkcs11_provider]
module = ${PKCS11_MODULE_PATH}
pkcs11-module-load-behavior = early

# Other configuration sections (e.g., for CSR generation)
[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_ca

[req_distinguished_name]

[v3_ca]
basicConstraints = CA:FALSE
